:root{

}

.bg-sidebar{
    background: #273135;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    min-width: 1.5em !important;
    padding: 0.1em 0.1em !important;
    background: blue !important;
    color: white !important;
}
